snippet if
IF(${1:CONDITION})
	${2:DO}
ENDIF()
endsnippet

snippet macro
MACRO(${1:macroName})
	${0}
ENDMACRO()
endsnippet

snippet func
function(${1:macroName})
	${0}
endfunction()
endsnippet

snippet foreach
foreach(${1:item} in ${2:lists})
	${0}
endforeach()
endsnippet
