extends c

snippet fori
for (int ${2:i} = 0; $2 < ${1:count}; $2${3:++}) {
	${4}
}
endsnippet

snippet if
if(${1:})
{
	${0}
}
endsnippet

snippet while
while(${1:})
{
	${0}
}
endsnippet

snippet main
void main(void)
{
	${0}
}
endsnippet

snippet saturate
clamp(${1:dot}, 0.0, 1.0);
endsnippet
