snippet func
function! ${1:name}()
	${0}
endfunction
endsnippet

snippet box0
" ==============================================================================
" ${0}
" ==============================================================================
endsnippet

snippet box1
" ------------------------------------------------------------------------------
" ${0}
" ------------------------------------------------------------------------------
endsnippet
